.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid lightgray;
  padding: .375rem .75rem;
  outline: none;
}

button {
  background-color: #02721e;
  color: #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

nav {
  /* justify-content: space-around; */
  /* align-items: left; */
  /* min-height: 10vh; */
  /* background: rgb(73, 79, 82); */
}

.nav-links {
  /* width: 100%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-style {
  color: black;
  text-decoration: none;
  padding: 10px;
}

.header-logo{
  width: 100%;
}

.top-bar {
  display: flex;
  list-style: none;
}

.top-bar-header {
  padding: 1% 30%;
  text-shadow: aqua;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.choose-field{
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border-radius: 3px;
  padding: 10px 80px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 20pt;
  -webkit-appearance: hidden;
  background-color: chartreuse;
}


 .browse-file {
  display: none;
 }

.upload-page{
    display: block;
    text-align: center;
}

.graph-div {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.graph1{
  display: table-cell;
  width: 50%;
}

.graph2{
  display: table-cell;
  width: 50%;
  float: left;
}


